.field-vertical{
    border-bottom: 1px solid #efefef;
    padding: 3px 0;
}
.field-vertical:last-of-type{
    border-bottom: none;
}
.field-vertical .label{
    display: block;
    font-size: 75%;
    text-transform: uppercase;
    color: #9a9a9a;
    padding-right: 5px;
    vertical-align: top;
    padding-top: 3px;
}
.field-vertical .data{
    display: block;
}
.field-vertical img{
    max-width: 150px;
    height: auto;
    display: block;
    margin-bottom: 5px;
}
