.select2-container--default .select2-selection--single {
    display: block;
    width: 100%;
    height: calc(1.5em + 1rem + 2px);
    padding: .3rem .75rem .5rem .75rem;;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4b4b5a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e2e7f1;
    border-radius: .3rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 6px;
}
